:root {
    --primary1: #FDE5EC;
    --primary2: #FCBAAD;
    --secondary1: #E48586;
    --secondary2: #916DB3;
    --tertiary1: #f89f5b;

}

.py-5{
   text-align: center;
   min-width: fit-content;
}

.container {
    min-width: 500px;
}

.btn {
    background-color: var(--secondary1);
    border: transparent;
}

.btn:hover {
    background-color: var(--primary2);
}

.needs-validation {
    margin-bottom: 50px;
}

.checkout_heading {
    font-size: 2.5rem;
    color: var(--tertiary1);
}


.text-primary,
.mb-3 {
    color: var(--tertiary1) !important;
    font-size: 25px;
    margin-bottom: 20px;
    
}
