* {
    font-family: poppins;
    margin: 0;
    padding: 0;
}

footer {
    background-color: var(--secondary2) !important;
}

.list-unstyled {
    color: white;
    text-decoration: none;
}

.list-unstyled a {
    color: white !important;
    text-decoration: none;

}

.list-unstyled a:hover {
    color: var(--secondary1) !important;
    text-decoration: none;

}

.row {
    width: 100%;
    display: flex;
}

.col-md-3 {
    margin: 0 32px;
    width: fit-content;
}


.footer-heading {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

a {
    color: white;
}

a:hover {
    color: pink;
}
