:root {
    --primary1: #FDE5EC;
    --primary2: #FCBAAD;
    --secondary1: #E48586;
    --secondary2: #916DB3;
}


.navbar-dark .navbar-brand {
    font-weight: 800;
    margin-left: 20px;
    color: #E48586;
    font-size: 40px;
}


.primary {
    background-color: var(--primary2);
}


.search_button {
    border: var(--secondary1) 2px solid;
    color: var(--secondary1);
    background-color: white;
    width: 100px;
    float: right;
    font-size: 18px;
}

.search-bar {
    max-width: 300px;
    font-size: 18px;
    border: var(--secondary1) 1px solid;
    padding: 5px;
    margin: 0px 5px;
}

.search_button:hover {
    border: var(--secondary1) 3px solid;
}


.search_button {
    margin: 0px 15px;
}


.navbar-toggler {
    border: var(--secondary1) 3px solid !important;
}

.nav-link {
    margin: 0 10px;
}

.nav-link:hover {
    color: var(--secondary1) !important;
    font-weight: 600;
}