

.terms_container {
    margin: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 40px;
    text-align: justify;
   
}


.terms {
    text-align: center;
    font-weight: 600;
    margin: 30px 0;
}

@media only screen and (max-width: 600px) {
    .terms_container {
        margin: 10px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        padding: 20px;
        text-align: justify;
    }
}